@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", "serif";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-grey: #e9e9e9;
    --medium-grey: #bbb;
    --dark-grey: #393939;
}

html {
    font-size: 16px;
}

body {
    display: grid;
    grid-template-rows: 6rem 1fr;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--dark-grey);
    color: white;
}

#menu-button {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: 1.5rem;
    border: none;
    outline: 3px solid white;
    border-radius: 0.25rem;
    cursor: pointer;
    background: transparent;
    color: white;
}

h1 {
    font-size: 3rem;
}

main {
    display: flex;
}

#sidebar {
    width: 22rem;
    background: var(--light-grey);
}

#sidebar-top {
    margin-top: 1.5rem;
}

.sidebar-button {
    display: flex;
    align-items: center;
    width: 17rem;
    margin: 0.5rem auto;
    font-size: 1.25rem;
    background: transparent;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    cursor: pointer;
    color: var(--dark-grey);
}

.sidebar-button.selected {
    background: var(--medium-grey);
    font-weight: bold;
}

.sidebar-button:hover {
    background: var(--medium-grey);
}

.sidebar-button svg {
    height: 1.45rem;
    width: 1.45rem;
    margin-right: 0.75rem;
}

.hidden {
    display: none;
}

#content {
    width: 100%;
    color: var(--dark-grey);
    background: white;
    text-align: center;
}

#content h2 {
    font-size: 2.5rem;
    margin: 2rem;
}

.simple-button {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background: var(--light-grey);
    outline: 1px solid var(--dark-grey);
    cursor: pointer;
}

.simple-button:hover {
    background: var(--medium-grey);
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem 2rem 0 2rem;
    border-radius: 0.5rem;
    background: white;
    width: 50rem;
    height: 28rem;
}

form {
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: 100%;
}

#input-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 5fr 3fr;
    font-size: 1.5rem;
}

#left-container,
#right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#left-container > *,
#right-container > * {
    width: 100%;
}

#name-input {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

#desc-input {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    resize: none;
    height: 100%;
}

#priority-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem;
    margin-bottom: 1rem;
    height: 65%;
}

#priority-container input {
    margin-left: 0.25rem;
}

#priority-container > div {
    margin: 0.85rem 0.5rem;
}

#priority-container > div:first-of-type {
    margin-top: 0
}

#priority-container > div:last-of-type {
    margin-bottom: 0.25rem;
}

.radio-label {
    margin-left: 0.25rem;
}

#due-date {
    font-size: 1.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0;
    padding: 0.25rem 0.5rem;
    width: 100%;
}

#buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

#todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-item {
    display: grid;
    grid-template-columns: auto 2fr 3fr 7rem 8rem;
    align-items: center;
    height: 3rem;
    width: 85rem;
    gap: 1.5rem;
    padding: 0 0.75rem;
    font-size: 1.5rem;
    outline: 2px solid var(--dark-grey);
    margin-bottom: 2rem;
    text-align: left;
    cursor: default;
}

.todo-complete-button {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.todo-name,
.todo-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#todo-titles-container {
    display: grid;
    grid-template-columns: 2rem 2fr 3fr 7rem 8rem;
    gap: 1.5rem;
    width: 85rem;
    padding: 0 0.75rem;
    margin: 0 auto 0.5rem auto;
}

#todo-titles-container h3 {
    font-size: 1.25rem;
    text-align: left;
}

#todo-titles-container h3:first-of-type {
    text-align: center;
}